body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  background-color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

section .box {
  width: calc(500px/8);
  height: calc(500px/8);
}

section .light {
  background-color: #f8c75d;
}

section .dark {
  background-color: #b36807;
}
