* {
//   border: green 1px solid;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

    .box {
        width: calc(500px/8);
        height: calc(500px/8);
    }
    .light {
        background-color: #f8c75d;
    }
    .dark {
        background-color: #b36807;
    }
}