* {
//   border: green 1px solid;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    width: 500px;
    height: 500px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    .row {
        background-color: pink;
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    .col {
        flex: 1;
    }
    .light {
        background-color: #f8c75d;
    }
    .dark {
        background-color: #b36807;
    }
}